<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand"><%= image_tag 'http://i.imgur.com/E6lDBX6.png'%>MTAppdatr</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">

            <div class="welcome"><li>Hello, <%= current_user.name %> <%= image_tag "#{current_user.avatar}" %> <%= link_to "Sign Out", signout_path %></li>

          </ul>

        </div>
      </div>
    </div>



        <div class="container">
          <div class="row">
            <div class="col-lg-4" style="background: rgba(0,0,0,0.5); text-align: center; padding-top: 20px">
              <form method="GET" action="<%= tweets_index_url %>">
                <% if not @error_message.nil? %>
                  <%= @error_message %>
                <% end %>
                <input type="text" name="hashtag" placeholder=" type in a train name i.e #2Train" />
                <input type="submit" value="SUBMIT" id="animateButton" class="btn btn-primary type-blockquotes">

              </form>

              <!-- jquery animation loader begin -->
              <div id="topLoader"></div>
            </div>
              <div class="col-lg-4" style="background: rgba(0,0,0,0.5); height: 434px">
                <% if not @positivity_percentage.nil? %>

                  <div id="positive" ><h4 class="appdatr">MTAppdatR says the <span class="hashtag"><%= params[:hashtag] %></span>  has: </h4><h1><%= "#{@positivity_percentage}%" %></h2><h2 class="happy-large"> POSITIVE feedback.</h2></div>
                  <div id="negative"><h1><%= "#{100 - @positivity_percentage}%" %></h1><h2 class="happy-large"> NEGATIVE feedback.</h2></div>
                    <%else%>
                         <h4 class="clients">Learn how the trains are REALLY running.</h4><Br>
                          <h4 class="summary"><br>Are you sick of the MTA always not giving you accurate information and updates? Using MTAppdatr you can see how the trains are running using twitter feeds and sentiment anaylsis. To search for the line just submit the train you are looking for. For example: #Atrain</h4>
                    <% end %>
                 </div>
            <div id="tweet-results" class="col-lg-4" style="background: rgba(0,0,0,0.5); height: 434px">
              <% if not @tweets.nil? and @tweets.length > 0 %>
                <ul>  <% @tweets.each do |tweet| %>
                        Tweet Text: <%= tweet.tweet_text %> || <%= tweet.tweet_date.strftime("%m/%d/%Y %l:%M %p") %><br /><br><br>
                      <% end %>
                </ul>
                 <%else%>

        <h4 class="clients"> MTA Status<br> <span class="mini-clients">(click for more information)</span></h4>
        <div class="train-circles">  
            <% Service.all.each do |train| %>
                <div class="circle <%= line_to_color(train.name) %>" data-toggle="modal" data-target=".<%= train.name %>">
                 <h5><%= train.name %></h5>
                  </div>
                  <%= train.traffic %><br>
        <div class="modal fade <%= train.name %>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <h3 class="name_popup"><%= train.name %><br></h3>
                <h4 class="dates"><%= train.created_at.strftime("%B %e, %Y") %><br>
                <%= train.created_at.strftime("%l:%M %p") %></h4>
             
                <h4 class="traffic"><%= train.traffic %></h4>
                <p><%= train.more_detail %></p>
                <p><%= train.description %></p>
                <p><%= train.delay %></p>
                <p><%= train.change %></p>
            </div>
          </div>
        </div>
    <% end %>
</div>    

              <% end %>
            </div>
          </div>
        </div>



            <script>
              $(function() {
                var $topLoader = $("#topLoader").percentageLoader({width: 256, height: 256, controllable : false, progress : 0, onProgressUpdate : function(val) {
                    $topLoader.setValue(Math.round(val * 100.0));
                  }});

                var topLoaderRunning = false;
                $("#animateButton").click(function() {
                  if (topLoaderRunning) {
                    return;
                  }

                  topLoaderRunning = true;
                  $topLoader.setProgress(0);
                  $topLoader.setValue('0kb');
                  var kb = 0;
                  var totalKb = 9000;

                  var animateFunc = function() {
                    kb += 17;
                    $topLoader.setProgress(kb / totalKb);
                    $topLoader.setValue(kb.toString() + 'kb');

                    if (kb < totalKb) {
                      setTimeout(animateFunc, 25);
                    } else {
                      topLoaderRunning = false;
                    }
                  }

                  setTimeout(animateFunc, 25);

                });
              });
            </script>

        </div>
      </div>
</div>
